@use 'variables' as*;
.watch {

    display: flex;

    &__container {
        margin: 60px 0;
        padding: 20px 0;
        text-align: center;
        background-color:$backgroundContainer;
        border-radius: 8px 0 0 8px;
        width: 100%;
        &:last-child {
            border-radius: 0 8px 8px 0;
        }
    }
a{ 
    text-decoration: none;
    &:hover{
        color:$red;
    }
}

}